# -*- mode: gitignore; -*-
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
ac-comphist.dat
var/
recentf
custom.el
/eln-cache

# Org-mode
.org-id-locations
*_archive

# flymake-mode
*_flymake.*

# eshell files
/eshell/history
/eshell/lastdir

# elpa packages
/elpa/

# quelpa packages
/quelpa/

# reftex files
*.rel

# AUCTeX auto folder
/auto/

# cask packages
.cask/

# undo-tree
undo/

# eww
url/

# orgmode
bookmarks

# lsp-mode
.lsp-session-v1
.lsp-eslint-choices
.cache/

# magit
transient/

# amx
amx-items
